{% extends "base.html" %}
{% block title %}cultura{% endblock %}
{% block overviewActive %}active{% endblock %}

{% block content %}
    <div class="chapterTitle">info</div>
    <div class="dottedListItem">current time: <b>{{current_time}}</b></div>  
    <div class="dottedListItem">grow start time: <b>{{current_time}}</b></div>  
    <div class="dottedListItem">projected grow end time: <b>{{current_time}}</b></div>  
    <div class="chapterTitle">status <FONT COLOR="#00FF00">&#8226;</FONT></div>
    <div class="dottedListItem">last notification: <br><b>{{last_notify}}</b></div>  

{% endblock %}
