{% extends "base.html" %}
{% block title %}cultura settings edit{% endblock %}
{% block iniConfigActive %}active{% endblock %}

{% block content %}
    <div class="chapterTitle">edit settings</div>
    <form method="post" action="">
    
    <div class="subchapterTitle">general</div>
    <div class="dottedListItem"><span class="formlabel">Str param:</span><input type="text" size="20" maxlength="20" name="general_str_param" value="{{ conf['general_str_param'] }}"></div>
    <div class="dottedListItem"><span class="formlabel">Switch param:</span><input type="checkbox" name="general_switch_param" value="on" {% if conf['general_switch_param'] == 'on' %}checked{% endif %}></div>
    <div class="dottedListItem"><span class="formlabel">Numerical value:</span><input type="text" size="20" maxlength="20" name="general_numerical_value" value="{{ conf['general_numerical_value'] }}"></div>
    
    <div class="subchapterTitle">notifications</div>
    <div class="dottedListItem"><span class="formlabel">Something:</span><input type="text" size="20" maxlength="20" name="notifications_something" value="{{ conf['notifications_something'] }}"></div>
    <div class="dottedListItem"><span class="formlabel">Is enabled:</span><input type="checkbox" name="notifications_enabled" value="on" {% if conf['notifications_enabled'] == 'on' %}checked{% endif %}></div>
    <div class="dottedListItem"><span class="formlabel">Number:</span><input type="text" size="20" maxlength="20" name="notifications_number" value="{{ conf['notifications_number'] }}"></div>
    
    <div class="dottedListItem"><input type="submit" value="Submit"></div>
    </form>
{% endblock %}
